@model IEnumerable<SP2023_Assignment3_lrichardson.Models.MoviesActors>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/vader/jquery-ui.css"
      integrity="sha384-s9zAKvidoYxg7IYQRABsD7922ZtD7WbdP3gRcQVTPIHhtDM/KPJDWC4T6YaIT8FC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css"
      integrity="sha384-43vMlPako0hLMcE9uYveiee+IPD3dHOYcywDM3KCDWfQeSyxbQADKl0un2bb0FsQ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"
        integrity="sha384-Oz2u38d0ZnNWE1m+AIMNNmk9a0EJEto9y2D3kXTaczVZucXieLf798xkusldWrLs" crossorigin="anonymous"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="moviesActorsTable"class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actors.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movies.MovieTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#moviesActorsTable').DataTable();
    });
</script>
