@model SP2023_Assignment3_lrichardson.Models.ActorsMoviesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors.IMDBHyperlink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors.IMDBHyperlink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors.Photo)
        </dt>
        <dd>
            @if (Model.Actors.Photo != null)
            {
                <img width="120" height="150" src="@Url.Action("GetActorPhoto", "Actors", new {Model.Actors.Id})" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actors.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table id="actorMoviesTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoviesActors[0].Movies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MoviesActors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movies.MovieTitle)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('actorMoviesTable').DataTable({
     
        });
    });
</script>

<table id="actorTweetsTable" class="display dataTable">
    <thead>
        <tr>
            <th>Top 100 Tweets</th>
            <th>Sentiment Analysis Compound Score</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('#actorTweetsTable').DataTable({
            "paging": true,
            "ordering": true,
            "searching": true
        });
    });
</script>


@foreach (var tweet in ViewBag.TopTweets)
{
    <script type="text/javascript">
        $('#actorTweetsTable').DataTable().row.add([
            '@Html.Raw(tweet.Item1.Replace("'", "\\'"))',
            '@tweet.Item2'
        ]).draw();
    </script>
}




